src/main/mule/get-class-sys-apii.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="get-class-sys-apii-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="get-class-sys-apii-config" api="resource::ce235d46-115c-497c-b0e2-474afd80f5e9:get-class-sys-apii:1.0.0:raml:zip:get-class-sys-apii.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="get-class-sys-apii-main">
        <http:listener config-ref="get-class-sys-apii-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="get-class-sys-apii-config" />
		<error-handler ref="error-handler" />
    </flow>
    <flow name="get-class-sys-apii-console">
        <http:listener config-ref="get-class-sys-apii-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="get-class-sys-apii-config" />
		<error-handler ref="error-handler" />
    </flow>
    <flow name="get:\class:get-class-sys-apii-config">
        <flow-ref doc:name="Flow Reference" doc:id="1b32effe-d330-435f-ac24-8335b56ba066" name="get-class"/>
    </flow>
    <flow name="get:\class\(hobby):get-class-sys-apii-config">
        <flow-ref doc:name="Flow Reference" doc:id="8433aed2-af71-4493-8c19-7156b396297d" name="get-hobby"/>
    </flow>
    <flow name="post:\class:application\json:get-class-sys-apii-config">
        <flow-ref doc:name="Flow Reference" doc:id="0cfb8b84-31ac-438b-95f0-295edf041521" name="post-class"/>
    </flow>
</mule>
